div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#counter {
  padding: 0;
  max-width: 100%;
  font-size: large;
}

label {
  font-size: x-large
}
body{
background-color: #f2f2f2;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: X-large;
}
p.error {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: X-large;
  background-color: red;
  color: white;
}
p.success {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: X-large;
  background-color: #4CAF50;;
  color: white;
}
textarea {

}
input[type=file], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.title {
  max-width: 80%;
  padding:20%;
    padding-top:5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 4px;
  font-size: xx-large;
}
input[type=submit]:hover {
  background-color: #45a049;
}
@media only screen and (min-width: 768px) {
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40%;
    padding-top: 20px;
  max-width: 20%
}
}
input[type=submit]:hover {
  background-color: #45a049;
}
