<!doctype html>
<head>
<script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  counter = checkTime(30 - s%30);
  document.getElementById('counter').innerHTML =
  'Code expires in:' + ' ' + counter;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>

</head>

<body onload="startTime()">

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>Upload new File</title>
    <div class="upload">
    <form method=post enctype=multipart/form-data>
        <p class="title">Upload new File</p>
      <input type=file name=file> <br>
        <label for="code">Code:</label>
        <input type="text" autocomplete=off name="code"> <br>
      <input class="button" type=submit value=Upload> <br>
    <div id="counter"></div>    
    {% if error %}
    <p class="error">Upload Failed</p>
    {% endif %}
    {% if error == False %}
    <p class="success">{{ filename }} Upload Success</p>
    {% endif %}
    </form>
    <form method="post" enctype="text/plain">
    </form>
    </div>
