<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR CODE</title>
</head>
<body>
{{ qrcode | safe}}

<a> Scan this QR code to upload files to the webserver</a>
</body>
</html>